.select-list-container {
  background: #fff;
  z-index: 1000;
  border: 1px solid lightgray;
  color: #000;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &.below {
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 2px 4px 0 #000000;
  }

  &.above {
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 -2px 4px 0 #000000;
  }

  & .select-list-option {
    padding: 0.25rem 0.5rem;

    &.active {
      background: #6495ed !important;
    }

    &[aria-selected="true"] {
      background: plum;
    }
  }
}

.select-box {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  outline-offset: -2px;
  box-shadow: inset 0 0px 2px 0 rgb(0 0 0);
  background: white;
  color: black;
  padding-right: 5rem;
  padding: 0.3rem 0.5rem;
  overflow: hidden;

  &:hover {
    border-color: lightblue;
  }
}

.open .select-box,
.select-box:focus {
  outline: 5px solid rgba(68, 143, 255, 0.8);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 250ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
