.select-list-container {
  background: #fff;
  z-index: 1000;
  border: 1px solid lightgray;
  color: #000;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &.below {
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 2px 4px 0 #000000;
  }

  &.above {
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 -2px 4px 0 #000000;
  }

  & .select-list-option {
    padding: 0.25rem 0.5rem;

    &.active {
      background: rgba(68, 143, 255, 0.8) !important;
    }

    &[aria-selected="true"] {
      background: plum;
    }
  }

  & .no-results {
    padding: 0;
    margin: 0;
  }
}

.select-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.select-box {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  outline-offset: -2px;
  box-shadow: inset 0 0px 2px 0 rgb(0 0 0);
  background: white;
  color: black;
  padding-right: 5rem;
  padding: 0.3rem 0.5rem;
  overflow: hidden;

  &:hover {
    border-color: lightblue;
  }
}

.open .select-box,
.select-box:focus-within {
  outline: 5px solid rgba(68, 143, 255, 0.8);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 250ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.select-box-multiple-container {
  flex: 1;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  min-height: var(--item-height);
  align-self: self-start;
}

.search {
  flex: 1;
  background: transparent;
  color: #000;
  border: 0;
  box-sizing: border-box;
  height: var(--item-height);
  padding: 0 0.1rem;

  &:focus {
    outline: none;
  }
}

.select-box-multiple-value {
  border-radius: 0.25rem;
  background: rgb(49, 167, 98);
  color: #fff;
  font-size: 0.8rem;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  height: var(--item-height);
}

.select-box-multiple-value-label {
  padding: 0 0.4rem;
  align-self: center;
}

.select-box-multiple-value-remove {
  padding: 0.2rem 0.2rem 0.2rem 0rem;
  display: flex;
}
.select-box-multiple-value-remove-inside {
  display: flex;
  padding: 0 0.2rem;
  border-left: 1px solid #fff;
}
.select-box-multiple-value-remove:hover {
  background: hsl(145, 55%, 30%);
}

.select-box-multiple-container {
  --item-height: 1.5rem;
}
